<div class="p-1">
  <mat-card class="p-0">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-1">
          <h2>Customers List</h2>


          <div fxLayout="row wrap" class="items-center">
              <div class="mx-3">
                  <input type="search" class="form-control h-9 p-1" placeholder="Search.." [(ngModel)]="searchKey"/>
                </div>

                <button  mat-raised-button color="primary"  (click)="openCustomerDialog(null,true)" class="w-20">
                  <mat-icon>add_circle</mat-icon>
                  <!-- Add -->
              </button>
          </div>




      </div>
      <mat-divider></mat-divider>
      <div class="mat-table admin-table">
          <div class="mat-header-row">
              <div class="mat-header-cell">Full Name</div>
              <div class="mat-header-cell">Passport No.</div>
              <div class="mat-header-cell">Nationality</div>
              <!-- <div class="mat-header-cell">Date of Birth</div> -->
              <div class="mat-header-cell">Gender</div>
              <div class="mat-header-cell">Mobile</div>
              <div class="mat-header-cell">Actions</div>
          </div>
          <button class="loading"  *ngIf="customerService.loading" color="primary">
              <app-loading-spinner></app-loading-spinner>
           </button>
          <div *ngIf="!customerService.loading">
             <div  *ngFor="let customer of getAllCustomers() | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
              <div class="mat-cell">{{customer.fullName}}</div>
              <div class="mat-cell">{{customer.passNo}}</div>
              <div class="mat-cell">{{customer.nationality}}</div>
              <!-- <div class="mat-cell">{{customer.dob.seconds*1000 | date}}</div> -->
              <div class="mat-cell">{{genderList[customer.gender]}}</div>
              <div class="mat-cell">{{customer.mobile}}</div>
              <div id="action-btns" class="mat-cell">
                  <button mat-mini-fab color="primary" class="mx-1" matTooltip="Edit" (click)="openCustomerDialog(customer,false)">
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(customer)">
                      <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="openQrCodePage(customer.custNo)">
                    <mat-icon>chrome_reader_mode</mat-icon>
                </button>
              </div>
          </div>
          </div>
      </div>
  </mat-card>

  <div *ngIf="getAllCustomers().length > 6" fxLayout="row wrap">
      <div fxFlex="100">
          <mat-card class="p-2 text-center">
              <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
          </mat-card>
      </div>
  </div>
</div>
