<div class="p-1">
  <mat-card class="p-0">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-1">
          <h2>Agents List</h2>


          <div fxLayout="row wrap" class="items-center">
              <div class="mx-3">
                  <input type="search" class="form-control h-9 p-1" placeholder="Search.." [(ngModel)]="searchKey"/>
                </div>

                <button  mat-raised-button color="primary"  (click)="openAgentDialog(null,true)" class="w-20">
                  <mat-icon>add_circle</mat-icon>
                  <!-- Add -->
              </button>
          </div>



      </div>
      <mat-divider></mat-divider>
      <div class="mat-table admin-table">
          <div class="mat-header-row">
              <div class="mat-header-cell">Name</div>
              <div class="mat-header-cell">Contact Person</div>
              <div class="mat-header-cell">Hamla</div>
              <div class="mat-header-cell">City</div>
              <div class="mat-header-cell">Region</div>
              <div class="mat-header-cell">State</div>
              <div class="mat-header-cell">Country</div>
              <div class="mat-header-cell">Actions</div>
          </div>
          <button class="loading"  *ngIf="agentService.loading" color="primary">
              <app-loading-spinner></app-loading-spinner>
           </button>
          <div *ngIf="!agentService.loading">
             <div  *ngFor="let agent of getAllAgents() | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
              <div class="mat-cell">{{agent.name}}</div>
              <div class="mat-cell">{{agent.contactPerson}}</div>
              <div class="mat-cell">{{getHamla(agent.hamlaId)}}</div>
              <div class="mat-cell">{{getCity(agent.cityId)}}</div>
              <div class="mat-cell">{{getRegion(agent.regionId)}}</div>
              <div class="mat-cell">{{getState(agent.stateId)}}</div>
              <div class="mat-cell">{{getCountry(agent.countryId)}}</div>
              <div class="mat-cell">
                  <button mat-mini-fab color="primary" class="mx-2" matTooltip="Edit" (click)="openAgentDialog(agent,false)">
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(agent)">
                      <mat-icon>delete</mat-icon>
                  </button>
              </div>
          </div>
          </div>
      </div>
  </mat-card>

  <div *ngIf="getAllAgents().length > 6" fxLayout="row wrap">
      <div fxFlex="100">
          <mat-card class="p-2 text-center">
              <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
          </mat-card>
      </div>
  </div>
</div>
